/node_modules
/vendor
/.idea
.idea/
.env
/dist
.editorconfig
/.vscode
ormconfig.json
.eslintrc.json
tsconfig.json
.vercel
vercel.json
.prettierignore
.prettierrc
customer-error.log
customer.log
error.log
*.log
/*.log